<div class="container">
  <!-- <app-product></app-product> -->
  <!-- <app-template-ref-demo></app-template-ref-demo> -->
  <!-- <app-product-comp-ref #product></app-product-comp-ref> -->

  <!-- <hr />
<ul *ngIf="product.selectedProduct?.name != undefined">
  <li>
    {{ product.selectedProduct.name }}
  </li>
  <li>
    {{ product.selectedProduct.color }}
  </li>
  <li>
    {{ product.selectedProduct.price }}
  </li>
  <li>
    {{ product.selectedProduct.inStock }}
  </li>
</ul> -->

  <!-- ViewChild using Template Variable -->
  <!-- <app-customer></app-customer> -->

  <!-- ViewChild using Component -->
  <app-stopwatch-parent></app-stopwatch-parent>
</div>
