<div class="parent">
  <app-child-projection message="Registration Page">
    <h1>Hello World</h1>
    <p>Child Component</p>
    <button btn class="btn btn-primary my-2">Sign Up</button>
    <button class="btn btn-success">Sign In</button>
  </app-child-projection>
  <hr />
  <app-child-projection message="Login Page">
    <h1>Hello World</h1>
    <p>Child Component</p>
    <button class="btn btn-primary">Sign Up</button>
    <button btn class="btn btn-success">Sign In</button>
  </app-child-projection>
</div>
