<div class="row">
  <div class="col-md-5">
    <h3>@ViewChild - Template Variable</h3>
    <div>
      <label class="form-label">State :</label>
      <select class="form-select" #state (change)="onChange()">
        <option selected disabled>--Select--</option>
        <option>Tamil Nadu</option>
        <option>Karnataka</option>
        <option>Telagana</option>
        <option>Kerala</option>
      </select>
      <label class="form-label">Captial City :</label>
      <input type="text" class="form-control" #city/>
    </div>
  </div>
</div>
